@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #fff;
    color: #172b4d;
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-decoration-skip-ink: auto;
    text-decoration-skip-ink: auto;
}
